$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnail img {
  width: 150px;
  height: 200px;
  size: cover;
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNjEyIDc5MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjEyIDc5MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHJlY3QgeD0iMTM3IiB5PSIzMjUiIHdpZHRoPSIzMzMiIGhlaWdodD0iMzMzIi8+DQo8Y2lyY2xlIGN4PSIzMDMuNSIgY3k9IjMyOS43NSIgcj0iMTY2LjUiLz4NCjwvc3ZnPg0K);
  -webkit-mask-size: cover;

}

.box {
  display: flex;
  width: 200px;
  height: 300px;
  margin: 2% 2%;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
}

.box h3 {
  text-align: center;
  width: 100%;
  color: $white;
}
