$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;


a {
  text-decoration: none;
  color: $white;
}

ul, ol {
  list-style: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}

.thumbnail img {
  margin: auto;
  width: 100%;
  height: 200px;
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNjEyIDc5MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjEyIDc5MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHJlY3QgeD0iMTM3IiB5PSIzMjUiIHdpZHRoPSIzMzMiIGhlaWdodD0iMzMzIi8+DQo8Y2lyY2xlIGN4PSIzMDMuNSIgY3k9IjMyOS43NSIgcj0iMTY2LjUiLz4NCjwvc3ZnPg0K);
  -webkit-mask-size: 100%;
  -webkit-mask-position-y: -20px;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  transition: all 500ms ease-in-out;

}

.thumbnail img:hover {
  scale: 1.2;
  opacity: 0.5;
}


.box {
  display: flex;
  width: 200px;
  margin: 3% 1.5%;
  flex-direction: column;
  justify-content: space-evenly;
  scale: 1.5;
  cursor: pointer;

}

.box h4 {
  text-align: center;
  width: 100%;
  color: $white;
  margin-top: 0;
  font-weight: 300;
}

#participant img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  object-fit: cover;
  cursor: auto;
  margin-bottom: 10px;
}

.little-avatar {
  width: 25%;
  animation: fadeIn 500ms;
  position: absolute;
  z-index: 100;
  flex-wrap: wrap;
  flex-direction: column;
  top: 5%;
}

#join-button {
  width: 56px;
  margin-bottom: 10px;
  margin-left: 0;

  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 16px;
  background-color: $black;
  border-radius: 50%;
  text-align: center;
  color: $white;
  font-weight: bolder;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
