$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;


.text h1 {
  font-size: 64px;
  text-align: right;
  font-weight: 900;
  position: relative;
  animation: fade-in 1s ease-in-out both;
  margin-bottom: 0;
  margin-top: 0;
}

.text h1:first-child{
  right: 15%;
}

.date {
  h5 {
    opacity: 0.4;
    font-weight: lighter;
  }
}

.menu-box {
  margin: 0 0;
  display: flex;
  align-items: center;
  -webkit-animation: fade-in 5s ease-in-out both;
  animation: fade-in 3s ease-in-out both;
  margin-bottom: 10vh;
}

.week-meal {
  flex-grow: 2;
  ol {
    display: flex;
    justify-content: space-evenly;
    padding-left: 2%;
  }
  li {
    width: 20%;
    text-align: center;
    padding-right: 2%;
    transition: 1s ease-in-out;
  }
  li:hover {
    scale: 1.2;
    opacity: 0.5;
    z-index: 100;
  }
  h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
  }
  h3 {
    font-weight: 700;
  }
  h4 {
    font-weight: lighter;
  }
}

#weekday {
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

.arch {
  width: 100%;
  height: 250px;
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTMzLjEgNzkyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MzMuMSA3OTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHk9IjI2Mi45IiB3aWR0aD0iNTMzLjEiIGhlaWdodD0iNTMzLjEiLz4NCjxjaXJjbGUgY3g9IjI2Ni41IiBjeT0iMjcwLjUiIHI9IjI2Ni41Ii8+DQo8L3N2Zz4NCg==);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
}

.button-option a, #quit {
  display: block;
  color: $red;
  background-color:  $white;
  border: 1px solid $white;
  padding: 8px 0;
  border-radius: 50px;
  -webkit-animation: fade-in 5s ease-in-out both;
  animation: fade-in 5s ease-in-out both;
  width: 200px;
  text-align: center;
  font-weight: bold;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

.button-option ol {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10vh 0 50px 0;
  padding: 0;
}

.button-option a:hover, #quit:hover {
  border: 1px solid $white;
  background: $red;
}

.red-cover-hidden {
  display: none;
}

.red-cover-show {
  z-index: 100;
  position: absolute;
  background-color: $red;
  width: 90%;
  height: 89%;
  -webkit-animation: fade-in 1s ease-in-out both;
  animation: fade-in 1s ease-in-out both;
}

.button-hidden {
  display: none;
}

.button-show {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-animation: fade-in 1500ms ease-in-out both;
    animation: fade-in 1500ms ease-in-out both;
  }
  li {
    display: flex;
    z-index: 200;
    text-align: center;
  }
  a {
    margin: 20px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $white;
    width: 17vw;
    height: 17vw;
    font-size: 32px;
    color: $red;
    font-weight: bolder;
    transition: all 350ms ease-in-out;
    padding-top: 7vw;
  }
  a:hover {
    border: 1px solid $white;
    background: $red;
  }
}

@media screen and (max-width: 600px) {
  .button-option ol {
    display: block;
    right: 10px;
    margin: 5vh 0 0 10px
  }
  .button-option li {
    margin-top: 5px;
  }
  .date h4 {
    text-align: right;
    font-weight: lighter;
  }
  .text h1 {
    font-size: 32px;
  }
  .date h5 {
    display: none;
  }
  .menu-box {
    display: block;
  }
  .week-meal ol {
    padding-left: 0;
    flex-wrap: wrap;
  }
  .week-meal li {
    width: 45%;
  }
  #weekday {
    margin-top: 25px;
  }
  .button-show a {
    font-size: 24px;
    width: 23vh;
    height: 23vh;
    padding-top: 9vh;
    margin: 8px;
  }
  .button-show li{
    justify-content: center;
  }
  .button-show ul {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
  }

  .red-cover-show {
    height: 180vh;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
