$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;

.landing-text {
  h1 {
    font-size: 64px !important;
    font-weight: 900;
  }
}
.access {
  position: fixed;
  top: 14vh;
  right: 5vw;
  z-index: 10;
}
.first-message {
  background: url(../images/CuisineBanner.png);
  height: 60vh;
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-radius: 25px;
  margin-bottom: 15vh;
  h1 {
    margin: 5.5vh auto;
    padding: 5%
  }
  h3 {
    padding: 15%;
    -webkit-animation: fade-in-landing 1s ease-in-out both;
    animation: fade-in-landing 1s ease-in-out both;
  }
}

.second-message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20vh;
}

.second-message-diagram {
  display: flex;
  background-color: $white;
  flex-direction: column;
  border-radius: 25px;
  width: 30%;
  padding-top: 10px;
  padding-left: 15px;
  h1, h2 {
    color: $red;
  }
}


.second-message-history-hidden {
  visibility: hidden;
}

.second-message-history {
  visibility: visible;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.third-message-hidden{
  visibility: hidden;
}

.third-message-show {
  visibility: visible !important;
  margin-bottom: 20vh;
  -webkit-animation: fade-in-landing 2.5s ease-in-out both;
  animation: fade-in-landing 2.5s ease-in-out both;
  ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    flex-wrap: wrap;
  }
  h1 {
    font-weight: 500;
    margin: 5vh auto;
    text-align: center;
    text-shadow: 1px 0 $white, -1px 0 $white, 0 1px $white, 0 -1px $white,
               1px 1px $white, -1px -1px $white, 1px -1px $white, -1px 1px $white;
    transition: all 250ms ease-in-out;
  }
  h1:hover {
    color: $red;
  }
}


// CLASS BOOSTRAP HARDCODED

.carousel-caption {
  position: relative !important;
  left: 0;
  right: 0;
  margin-top: 15px;
}

.carousel-item img {
  border-radius: 25px;
}

.carousel-control-next, .carousel-control-prev {
  height: 80%;
}

// CLASS BOOSTRAP HARDCODED

@-webkit-keyframes fade-in-landing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-landing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .access {
    top: auto;
    right: 2%;
    bottom: 5%;
    width: 150px;
  }
  .landing-text h1 {
    font-size: 32px !important;
  }
  .first-message{
    margin-bottom: 75px;
    h3{
      padding: 70% 5% 1% 5%;
    }
  }
  .second-message {
    display: block;
    margin-bottom: 0;
  }
  .second-message-diagram {
    width: 100%;
    margin-bottom: 75px;
  }

 .third-message-show {
    margin-bottom: 10vh;
    h1{
      padding: 10px;
      margin: 0;
    }
  }
}
