$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;


.filler-photo {
  border: 2px solid $white;
  width: 55vw;
  border-radius: 25px;
  margin: 0 16px;
}

#my-profile-title {
  right: 0 !important;
}

.arch-avatar img{
  width: 100%;
  height: 400px;
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTMzLjEgNzkyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MzMuMSA3OTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxyZWN0IHk9IjI2Mi45IiB3aWR0aD0iNTMzLjEiIGhlaWdodD0iNTMzLjEiLz4NCjxjaXJjbGUgY3g9IjI2Ni41IiBjeT0iMjcwLjUiIHI9IjI2Ni41Ii8+DQo8L3N2Zz4NCg==);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  max-width: 300px;
  min-width: 150px;
}

.profile-flex {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.profile-info-flex {
  display: flex;
  width: 25vh;
  flex-direction: column;
  // border: 1px solid white;
}

.profile-name p, .profile-description p {
  padding: 10px;
  background: $white;
  border-radius: 15px;
  text-align: center;
  color: $black;
}


@media screen and (max-width: 600px) {
  .filler-photo {
    background-image: none;
    display: none;
  }
  .profile-flex{
    justify-content: center;
  }
  #my-profile-title{
    text-align: center;
  }
  .arch-avatar img{
    margin-bottom: 16px;
    height: 300px;
  }
}
