$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;

.navbar {
  display: flex;
  justify-content: space-between;
  color: $white;
  padding: 5px;
  margin-bottom: 6vh;
  align-items: center;
  border-bottom: 1px solid $white;
}

.navbar h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 96px;
}


.options ul {
  padding: 0;
}

.options li {
  display: inline-block;
  p {
    cursor: pointer;
  }
}

.options a, .options p {
  padding: 0 2vw;
  margin: 0;
}

.options li:hover {
  border-bottom: $white;
  font-weight: bolder;
}

.logo {
  font-size: 64px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.show-menu {
  display: block !important;
  padding: 10px !important;
  margin: 0;
  text-align: right;
  z-index: 10;
  animation: fadeIn 500ms;
  right: 5%;
}

.dropdown-menu a {
  color: $red;
  font-weight: bold ;
}

#dropdown:hover {
  font-weight: bolder;
}

.dropdown-menu {
  position: absolute;
  background-color: $white;
  border-radius: 5%;
  right: 0%;
  z-index: 100;
  display: block;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: block;
  }
  .navbar h1 {
    font-size: 48px;
    margin-top: 5px;
  }
  .options ul {
    display: flex;
    justify-content: space-around;
  }
 }
