$red: #AF5B5B;
$orange: #FEAC48;
$black: #222222;
$white: #F6F4F3;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10vh;
}

.option {

  width: 30vw;
}

.options li {
  display: inline;
}
